.footer-container {
  background-color: var(--primary-color);
  color: #fff;
}
a.footer-contact {
  color: #fff;
  text-decoration: none;
}
a.footer-contact:hover {
  color: var(--secondary-color);
  text-decoration: none;
}
a.socialmedia-icon {
  color: #fff;
  text-decoration: none;
}
a.socialmedia-icon:hover {
  color: var(--secondary-color);
  text-decoration: none;
}
