.footer-container{
    background-color: #519405;
    color: #fff;
}
a.footer-contact{
    color: #fff;
    text-decoration: none;
}
a.footer-contact:hover{
    color: #f3b304;
    text-decoration: none;
}
a.socialmedia-icon{
    color: #fff;
    text-decoration: none;
}
a.socialmedia-icon:hover{
    color: #f3b304;
    text-decoration: none;
}