.blogImgCenter {
  background: no-repeat;
  height: 400px;
  background-size: cover;
}
.logoImgCenter {
  top: -5px;
  right: 30px;
  background: no-repeat;
  height: 200px;
  width: 200px;
  z-index: 1;
  display: block;
}
