h3.service-title {
  display: inline;
}
.service-icon {
  color: var(--primary-color);
  height: 150px;
  text-align: center;
}
.service-icon:hover {
  color: var(--secondary-color);
}

.service-description {
  text-align: justify;
  min-height: 280px;
}
