h3.service-title {
  display: inline;
}
.service-icon {
  color: var(--primary-color);
  height: 150px;
  text-align: center;
}
.service-icon:hover {
  color: var(--secondary-color);
}

.service-description {
  text-align: justify;
  min-height: 280px;
}

.bullet-points {
  list-style-type: "\27A2";
  margin-left: 10;
  padding-left: 1em;
  text-indent: 0;
}
